/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.col {
    padding: 5px !important;
}

.card {
  margin: 0 2px 0 0 !important;
}

.container-fluid {
  margin: 3px !important;
}